.brand
  %a{:href => 'https://www.jamiecoulter.co.uk',:target => '_blank'}
    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/logo.png'}
.login
  .login_title
    %span Login to your account
  .login_fields
    .login_fields__user
      .icon
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'}
      %input{:type => 'text',:placeholder => 'Username'}
        .validation
          %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'}
    .login_fields__password
      .icon
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'}
      %input{:type => 'password',:placeholder => 'Password'}
      .validation
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'}
    .login_fields__submit
      %input{:type => 'submit',:value => 'Log In'}
      .forgot
        %a{:href => '#'} Forgotten password?
  .success
    %h2 Authentication Success
    %p Welcome back
  .disclaimer
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper laoreet placerat. Nullam semper auctor justo, rutrum posuere odio vulputate nec.
.authent
  %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg'}
  %p Authenticating...
.love
  %p Made with <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/love_copy.png" /> by <a href='https://www.jamiecoulter.co.uk' target='_blank'> Jcoulterdesign </a>